* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@mixin flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: gray;
}


#container {
    @include flex-box;
    flex-direction: column;
    
    #input-area {
        @include flex-box;
        flex-direction: column;
        margin-top: 50px;

        * {
            margin: 20px;
        }

        #todo-text-input {
            all: unset;
            padding: 5px;
            background-color: white;
            border: 1px solid;
            width: 300px;
            height: 30px;
            border-radius: 10px;
        }
        #todo-text-input:focus {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #add-todo-button {
            width: 100px;
            height: 30px;
            font-size: 15px;
        }

        #add-todo-button {
            cursor: pointer;
        }
    }

    #todos-area {
        @include flex-box;
        flex-direction: column;
        margin-top: 50px;

        .todo-place {
            @include flex-box;
            flex-direction: column;
            justify-content: flex-start;
            min-height: 300px;

            .todo {
                @include flex-box;
                justify-content: space-between;
                width: 700px;
                height: 30px;
                background-color: white;
                border-radius: 20px;
                margin: 15px 0px;
                
                * {
                    margin: 20px;
                }
                
                button {
                    width: 100px;
                }

                button:hover {
                    cursor: pointer;
                }
            }
        }

    }

}
