* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@mixin flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: pink;
    color: rgb(61, 57, 57)
}

.visible {
    visibility: visible !important;
}

#popup {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    @include flex-box;

    #popup-area {
        width: 400px;
        height: 100px;
        @include flex-box;
        flex-direction: column;
        background-color: white;
    }
}


.add-todo-button-class {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

#container {
    @include flex-box;
    flex-direction: column;
    
    #input-area {
        @include flex-box;
        flex-direction: column;
        margin-top: 50px;

        #too-long-text-alert {
            visibility: hidden;
            color: red;
        }

        * {
            margin: 20px;
        }

        #todo-text-input {
            all: unset;
            padding: 5px;
            background-color: white;
            border: 1px solid;
            width: 300px;
            height: 30px;
            border-radius: 10px;
        }
        #todo-text-input:focus {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #add-todo-button {
            cursor: pointer;
        }
    }

    #todos-area {
        @include flex-box;
        flex-direction: column;
        margin-top: 50px;

        .todo-place {
            @include flex-box;
            flex-direction: column;
            justify-content: flex-start;
            min-height: 300px;

            .todo {
                @include flex-box;
                justify-content: space-between;
                width: 700px;
                height: 50px;
                border: 2px solid black;
                background-color: white;
                border-radius: 20px;
                margin: 15px 0px;
                
                * {
                    margin: 20px;
                }
                
                button {
                    all: unset;
                    font-size: 16px;
                    text-align: center;
                    margin: 3px;
                    border-radius: 7px;
                    border: 1px solid black;
                    height: 20px;
                    background-color: rgb(235, 232, 232);
                    width: 100px;
                    
                }

                button:hover {
                    cursor: pointer;
                    background-color: rgb(217, 215, 215);
                }
            }
        }

    }

}
